
.title{
  text-align: center;
  font-size: 50 px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}

.grid
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  color: blue;
  border: 6px solid red;
  border-radius: 10px;
	
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.actions.menu1.menu_pvp.menu_options {
  text-align: center;
  margin-top: 30px;
}
.actions a {
  background-color: #9DD1F1;
  border-radius: 3px;
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.select {
  background-color: #9DD1F1;
  border-radius: 3px;
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.box
{
  border: 6px solid red;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover{
  background-image: url(../assets/tictac.png);
  background-size: cover;
}
#winner_message{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10em;
  color: purple;
  text-align: center;
}
#turn{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 3em;
}
#score{
  font-family: inherit;
  color: blue;
  font-size:5em;
  text-align: center;
}
